<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.vany">

    <uses-sdk android:targetSdkVersion="30"/>
    
    <application android:name=".HelloApplication">
      <activity android:name=".HelloActivity">
        <intent-filter>
          <action android:name="android.intent.action.MAIN"/>
          <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
      </activity>
    </application>
</manifest>
